/* You can add global styles to this file, and also import other style files */
.grid-container{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:1fr;
    justify-items: center;
}
.calculations{
    height: 80px;
    width: 300px;
    border: 1px solid  darkblue;
    
}
@media screen and (max-width: 300px){
    .calculations{
        height: auto;
        width: auto;
        border: 1px solid  darkblue;
        
    }
}